<div class="container">

    <form class="form-signin jumbotron" action="/login" method="POST">
        <h3 class="form-signin-heading"><%= i18n("msg_label_login") %></h3>
        <label for="email" class="sr-only"><%= i18n('label_email') %></label>
        <input type="email" id="email" name="email" class="form-control" placeholder="<%= i18n('label_email') %>" required="" autofocus="">
        <label for="password" class="sr-only"><%= i18n('label_password') %></label>
        <input type="password" id="password" name="password" class="form-control" placeholder="<%= i18n('label_password') %>" required="">
        <button class="btn btn-lg btn-primary btn-block" id="action_login" type="submit"><%= i18n("label_signin") %></button>
        <a href="/signup" role="button" class="btn btn-lg btn-success btn-block"><%= i18n("label_signup") %></a>
        <br>
        <% if (typeof message !== 'undefined' ) { %>
          <div class="alert alert-danger alert-dismissible" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span></button>
              <strong><%= message %></strong> 
          </div>
        <% } %>
    </form>
   
</div>