<form  action="/speaker/profile/<%= req.session.passport.user.id %>" style="padding-top: 20px" id="form_update_profile" method="POST">
	<div class="form-group <%= Messages.errors.form.class("name", errors) %>">
	  <label for="name"><%= i18n("label_name") %>:</label>
	  <input type="text" class="form-control" name="name" id="name" value="<%= speaker.name %>" placeholder="<%= i18n('label_name') %>">
	  <%- Messages.errors.form.message("name", errors) %>
	</div>
	<div class="form-group <%= Messages.errors.form.class("email", errors) %>">
	  <label for="email"><%= i18n("label_email") %>:</label>
	  <input type="text" class="form-control" name="email" id="email" value="<%= speaker.email %>" placeholder="<%= i18n('label_email') %>">
	  <%- Messages.errors.form.message("email", errors) %>
	</div>

	<div class="form-group">
	    <button type="button" class="btn btn-primary btn-lg btn-block btn-sm submit_profile_update"><%= i18n("label_save") %></button>
	</div>
</form>