<% var globals = sails.config.globals %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= globals.title %></title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!--STYLES-->
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap-table.min.css">
    <link rel="stylesheet" href="/styles/auth.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <link rel="stylesheet" href="/styles/main.css">
    <!--STYLES END-->
  </head>

  <body>

    <%- partial('partials/page_header') %>

    <div class="container">
      <div class="well">
        <strong>Você está na sessão <%= session.name %></strong>
      </div>

      <%- partial('partials/session_navbar') %>

      <div class="panel panel-default">        
        <div class="panel-body">
          <%- partial('../partials/flash') %>
          <%- body %>
        </div>

      </div>
    </div>


    <!--TEMPLATES-->
    
    <!--TEMPLATES END-->

    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/dependencies/jquery.2.1.3.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="/bootstrap/js/bootstrap-table.min.js"></script>
    <script src="/bootstrap/js/bootstrap-dialog.min.js"></script>
    <script src="/js/speaker_profile.js"></script>
    <script src="/js/app.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
