<ul class="nav nav-pills nav-stacked well">
  <li class="<%= ViewHelpers.active_link('/speaker/(.*)/profile', req.url) %>">
    <a href="/speaker/<%= req.session.passport.user.id %>/profile">
      <span class="glyphicon glyphicon-user"></span>
      <%= i18n("speaker.profile.link.update_profile") %>
    </a>
  </li>

  <li class="<%= ViewHelpers.active_link('/speaker/(.*)/password', req.url) %>">
    <a href="/speaker/<%= req.session.passport.user.id %>/password">
      <span class="glyphicon glyphicon-edit"></span>
      <%= i18n("speaker.profile.link.update_password") %>
    </a>
  </li>
</ul>
