<div class="profile">
  <div class="row">

    <div class="col-md-3">
      <%- partial('menu') %>
    </div>

    <div class="col-md-9">

      <form action="/speaker/<%= req.session.passport.user.id %>/profile"
        class="well" id="form_update_profile" method="POST">

        <div class="form-group <%= Messages.errors.form.class("name", errors) %>">
          <label for="name"><%= i18n("global.label.name") %>:</label>
          <input type="text" class="form-control" name="name" id="name" value="<%= speaker.name %>"
          placeholder="<%= i18n('global.input.name.placeholder') %>">
          <%- Messages.errors.form.message("name", errors) %>
        </div>

        <div class="form-group <%= Messages.errors.form.class("email", errors) %>">
          <label for="email"><%= i18n("global.label.email") %>:</label>
          <input type="text" class="form-control" name="email" id="email" value="<%= speaker.email %>"
          placeholder="<%= i18n('global.input.email.placeholder') %>">
          <%- Messages.errors.form.message("email", errors) %>
        </div>

        <div class="form-group">
          <button type="submit" class="btn btn-primary btn-block btn-sm">
            <%= i18n("global.form.submit.update") %>
          </button>
        </div>
      </form>

    </div>
  </div>
</div>

