<div class="profile">
  <div class="row">

    <div class="col-md-3">
      <%- partial('menu') %>
    </div>

    <div class="col-md-9">

      <form  action="/speaker/<%= req.session.passport.user.id %>/password" 
              class="well" id="form_update_password" method="POST">

          <div class="form-group <%= Messages.errors.form.class("current_password", errors) %>">
            <label for="current_password"><%= i18n("global.label.current_pwd") %>:</label>
            <input type="password" class="form-control" name="current_password" 
                   id="current_password" value="<%= speaker.current_password  %>">
            <%- Messages.errors.form.message("current_password", errors) %>
          </div>

          <div class="form-group <%= Messages.errors.form.class("new_password", errors) %>">
            <label for="new_password"><%= i18n("global.label.new_pwd") %>:</label>
            <input type="password" class="form-control" name="new_password" 
                   id="new_password" value="<%= speaker.new_password %>">
            <%- Messages.errors.form.message("new_password", errors) %>
          </div>

          <div class="form-group <%= Messages.errors.form.class("confirm_password", errors) %>">
            <label for="confirm_password"><%= i18n("global.label.confirm_pwd") %>:</label>
            <input type="password" class="form-control" name="confirm_password"
                   id="confirm_password" value="<%= speaker.confirm_password  %>">
            <%- Messages.errors.form.message("confirm_password", errors) %>
          </div>

          <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block btn-sm"><%= i18n("global.form.submit.update") %></button>
          </div>

      </form>
    </div>
  </div>
</div>
