 <!-- Modal -->
 <div id="modal-<%= poll.id %>" class="modal fade" role="dialog">
 	<div class="modal-dialog">

 		<!-- Modal content-->
 		<div class="modal-content">
 			<div class="modal-header">
 				<button type="button" class="close" data-dismiss="modal">&times;</button>
 				<h4 class="modal-title"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> Preview Enquete</h4>
 			</div>
 			<div class="modal-body center-block" style="max-width: 400px;">
 				<div class="row text-center">
 					<p><strong>Título: </strong><%= poll.title %> </p>
 				</div>
 				<hr>
 				<% if(poll.choice_multiple) { %>
 				<div class="row ">
	 				<% _.each(poll.alternatives, function (alternative) { %>
	 					<div class="checkbox">
						  <label>
						    <input type="checkbox" value="<%= alternative %>" name="alternative-<%= alternative %>">
						    <%= alternative %>
						  </label>
						</div>
	 				<% }) %>
				<% } else { %>
						<% _.each(poll.alternatives, function (alternative) { %>
	 					<div class="radio ">
						  <label>
						    <input type="radio" name="alternative"  value="<%= alternative %>">
						   <%= alternative %>
						  </label>
						</div>
	 					<% }) %>
					<% } %>
				
 				<br>
 				<div class="row">
					<button type="button" class="btn btn-primary btn-sm btn-block">Enviar Resposta</button>
 				</div>
 			</div>
 			<div class="modal-footer">
 				<button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
 			</div>
 		</div>
 	

 	</div>
 </div>

 