<section>
	<header class="page-header text-center">
		<h3> Enquetes </h3>
		<hr>
		<div class="row">
		  <div class="col-xs-4">
		    <label>Legenda:</label>
		   </div>
		</div>
		<div class="row">
		    <div class="col-xs-5">
				<ul class="legend">
				    <li><span class="sent"></span> Aberta(s) </li>
				    <li><span class="pending"></span> Pendente(s) </li>
				    <li><span class="ready"></span> Pronta(s) pra envio </li>
				    <li><span class="closed"></span> Encerrada(s) </li>
				</ul>
			</div>
		</div>
		<div class="clearfix">
			<a href="/speaker/sessions/<%= session.id %>/polls/new" class="btn btn-default pull-right" ><%= i18n("poll.link.new") %></a>
		</div>
	</header>
</section>
<article>

	<div class="row">
		<!-- Generate this dynamical -->

		<% _.each(polls, function (poll) { %>
			<div class="col-sm-4">
				<div class="panel <%- PollsHelper.check_sent(poll) %>">
					<div class="panel-heading">
						<div class="btn-group pull-right"> 
						<%- (poll.status === "ready" && !poll.sent) ? PollsHelper.link_action_poll('/speaker/sessions/'+session.id+'/polls/'+poll.id+'/send', 'send', 'Enviar', 'Clique em Ok para confirmar o envio desta enquete', '') : '' %>
						<%- (!poll.sent) ? PollsHelper.link_action_poll('/speaker/sessions/'+session.id+'/polls/'+poll.id+'/edit', 'pencil', 'Editar Enquete', false, '') : '' %>
						<%- (poll.status !== "open") ? PollsHelper.link_action_poll('/speaker/sessions/'+session.id+'/polls/'+poll.id+'/delete', 'trash', 'Excluir', 'Tem certeza que deseja excluir a enquete:'+poll.title, '') : '' %>
						<%- (!poll.sent) ? PollsHelper.link_action_poll('/speaker/sessions/'+session.id+'/polls/'+poll.id+'/alternatives', 'list-alt', 'Editar Alternativas', false, '') : '' %>
						<%- (poll.status !== "ready" && poll.status !== "pending") ? PollsHelper.link_action_poll('/speaker/sessions/'+session.id+'/polls/'+poll.id+'/reports', 'stats', 'Estatística', false, '') : ''  %>
						<%- (poll.status === "open" && poll.sent) ? PollsHelper.link_action_poll('/speaker/sessions/'+session.id+'/polls/'+poll.id+'/close', 'lock', 'Finalizar Enquete', 'Clique em Ok para finalizar esta enquete', '')  : '' %>
						<%- (poll.status !== "pending") ? PollsHelper.modal_poll_preview(poll.id) : '' %> 
					</div>
					
					
					
					<br><br>
					<h3 class="panel-title text-center"><strong><%= poll.title %></strong></h3> 
					
					</div>
					<div class="panel-body">
						<%= ViewHelpers.show_initial_chars(0, 31, poll.description) %>
					</div>
					</div>
					<%- partial ('preview', {poll:poll}) %>
				</div>
				
			
		<% }) %>
		<!-- Generate this dynamical -->
	</div>

</article>
<section> 
	<footer></footer>
</section>