<section>
	<header class="page-header text-center">
		<h3> Enquetes </h3>
		<hr>
		<div class="row">
		  <div class="col-xs-4">
		    <label>Legenda:</label>
		   </div>
		</div>
		<div class="row">
		    <div class="col-xs-5">
				<ul class="legend">
				    <li><span class="sent"></span> Enviada(s) </li>
				    <li><span class="pending"></span> Pendente(s) </li>
				    <li><span class="ready"></span> Pronta(s) pra envio </li>
				</ul>
			</div>
		</div>
		<div class="clearfix">
			<a href="/speaker/sessions/<%= session.id %>/polls/new" class="btn btn-default pull-right" ><%= i18n("poll.link.new") %></a>
		</div>
	</header>
</section>
<article>

	<div class="row">
		<!-- Generate this dynamical -->
		<% _.each(polls, function (poll) { %>
		<div class="col-sm-4">
			<div class="panel <%- PollsHelper.manage_status(poll) %>">
				<div class="panel-heading">
					<div class="btn-group pull-right"> 
						<%- (!poll.valid || poll.status) ? '' : PollsHelper.link_action_poll('#', 'send', 'Enviar', false) %>
						<%- (poll.status) ? '' : PollsHelper.link_action_poll('/speaker/sessions/'+session.id+'/polls/edit/'+poll.id, 'pencil', 'Editar Enquete', false) %>
						<%- (poll.status) ? '' : PollsHelper.link_action_poll('/speaker/sessions/'+session.id+'/polls/delete/'+poll.id, 'remove', 'Excluir', 'Tem certeza que deseja excluir a enquete:'+poll.title) %>
						<%- (poll.status) ? '' : PollsHelper.link_action_poll('/speaker/sessions/'+session.id+'/polls/'+poll.id+'/alternatives', 'list-alt', 'Editar Alternativas', false) %>
						<%- (!poll.status || !poll.valid) ? '' : PollsHelper.link_action_poll('#', 'stats', 'Estatística', false) %>
						<%- (!poll.valid) ? '' : PollsHelper.link_action_poll('#', 'eye-open', 'Preview', false) %>
					</div>
					<br><br>
					<h3 class="panel-title text-center"><strong><%= poll.title %></strong></h3> 
				</div>
				<div class="panel-body">
					<%= ViewHelpers.show_initial_chars(0, 31, poll.description) %>
				</div>
			</div>
		</div>
		<% }) %>
		<!-- Generate this dynamical -->
	</div>

</article>
<section> 
	<footer></footer>
</section>