<table class="table table-hover table-bordered" id="table_questions">
  <thead>
    <tr> 
      <th class="text-center" colspan="3">Legenda</th>
    </tr>
    <tr> 
      <th class="text-center">Válida (s)</th>
      <th class="text-center" colspan="2"><span class="legend_questions valid"></span></th>
    </tr>
    <tr> 
      <th class="text-center">Pendente (s)</th>
      <th class="text-center" colspan="2"><span class="legend_questions pending"></span></th>
    </tr>
    <tr> 
      <th class="text-center" colspan="3">Questões</th>
    </tr>
    <tr> 
      <th class="text-center">Pontuação</th>
      <th class="text-center">Questão</th>
      <th class="text-center">Ações</th>
    </tr>
  </thead>
  <tbody>
    <% _.each(quiz.questions, function (question, i){ %>
      <tr class="<%- (question.status === 'valid') ? 'success' : 'warning' %>">
        <td><%= question.points %></td>
        <td><%= question.description %></td>
        <td class="text-center">
          <div class="btn-group">
            <%- QuizesHelper.popoverInfo(question) %>

            <%- (question.status === "valid") ? ViewHelpers.modal_preview(question.id) : '' %> 

            <%- ViewHelpers.link_action('/speaker/sessions/'+session.id+'/quizes/'+quiz.id+'/questions/'+question.id+'/edit', 'pencil', 'Editar Enquete', false, '') %>

            <%- ViewHelpers.link_action('/speaker/sessions/'+session.id+'/quizes/'+quiz.id+'/questions/'+question.id+'/delete', 'trash', 'Excluir', 'Tem certeza que deseja excluir esta questão?', '') %>
          </div>
        </td>
      </tr>  
      <%- partial ('preview', {question:question}) %>
      <% }); %>
</tbody>
</table>