<section>
	<header class="page-header">
		<h3> Dúvidas <h3>
	</header>

	<!-- Table Sessions -->
	<div id="doubts-table" class="table-responsive doubts-table">
		<table class="table table-hover table-striped">
			<thead>
				<tr>
					<th class="text-center">Avatar</th>
					<th>Ouvinte</th>
					<th>Data de Envio</th>
					<th>Respondida</th>
					<th class="text-center">Ações</th>
				</tr>
			</thead>
			<tbody>
				<% _.each(doubts, function (doubt) { %>
					<tr class="<%= ViewHelpers.change_class_row(doubt.answered) %>">
					<td><%- Gravatar.getImage(doubt.listener.avatar) %></td>
					<td><%= doubt.listener.name %></td>
					<td><%= DateHelper.formatDate(doubt.createdAt) %></td>
					<td><%= ViewHelpers.bool(doubt.answered) %></td>
					<td class="text-right">
					<button class="show_doubt btn btn-sm btn-primary" name="<%= doubt.id %>" title="Visualizar Dúvida" href="#<%= doubt.id %>">Visualizar <span class="glyphicon glyphicon-search"></span></button>

					<button class="check_doubt btn btn-sm <%= ViewHelpers.change_class_btn(doubt.answered) %>" doubt_id="<%= doubt.id %>" title="Marcar como respondida"> <%- ViewHelpers.change_class_label(doubt.answered) %></button>

					</td>
					</tr>
					<tr id="<%= doubt.id %>" class="message hidden">
					<td colspan="4"><p><strong><%= doubt.description %></strong></p>
					</td>
					</tr>
					<% }) %>
				</tbody>
		</table>
	</div>
</section>

<%- partial('../../layouts/partials/doubt_modal') %>


