<form action='/speaker/session/edit/<%= session.id %>' method='POST'>
	<div class='form-group'>
		<label for='key'>Session Key:</label>
		<input type='text' class='form-control' name='key' value="<%= session.key %>" placeholder='Session Key'>
	</div>
	
	<div class='form-group'>
		<label for='name'>Name Session:</label>
		<input type='text' class='form-control' name='name' value="<%= session.name %>" placeholder='Session Name'>
	</div>

	<label for='description'>Description:</label><br>
	<textarea class='field span12' name='description' rows='6' style='width: 100%;' placeholder='Description Session...'><%= session.description %></textarea>

	<input type='hidden' name='id_speaker' value="<%= req.session.passport.user %>">
	
	<div class=modal-footer>
	    <a hre="/speaker/session" title="Back"><button class=btn btn-primary>Back</button></a>
	    <button type='submit' class=btn btn-primary>Save</button>
	</div>
</form>