<div class="row">
	<div class="col-md-4 col-md-offset-0 well" style="margin-left: 10px" id="rootwizard">
		<ul class="nav nav-pills nav-stacked">
			 <li <%= (flag === 1) ? 'class=active' : '' %>><a href="/speaker/show/<%= req.session.passport.user.id %>/profile"><span class="glyphicon glyphicon-user"></span> <%= i18n("title_update_profile") %></a>
			</li>

			<li <%= (flag != 1) ? 'class=active' : '' %>><a href="/speaker/show/<%= req.session.passport.user.id %>/password"><span class="glyphicon glyphicon-edit"></span> <%= i18n("title_update_password") %></a>
			</li>
		</ul>
</div>
  <div class="col-md-5 well" style="margin-left: 10px"> 
     <form  action="/speaker/show/<%= req.session.passport.user.id %>/profile" style="padding-top: 20px" id="form_update_profile" method="POST">
		<div class="form-group <%= Messages.errors.form.class("name", errors) %>">
		  <label for="name"><%= i18n("label_name") %>:</label>
		  <input type="text" class="form-control" name="name" id="name" value="<%= speaker.name %>" placeholder="<%= i18n('label_name') %>">
		  <%- Messages.errors.form.message("name", errors) %>
		</div>
		<div class="form-group <%= Messages.errors.form.class("email", errors) %>">
		  <label for="email"><%= i18n("label_email") %>:</label>
		  <input type="text" class="form-control" name="email" id="email" value="<%= speaker.email %>" placeholder="<%= i18n('label_email') %>">
		  <%- Messages.errors.form.message("email", errors) %>
		</div>

		<div class="form-group">
		    <button type="button" class="btn btn-primary btn-lg btn-block btn-sm submit_profile_update"><%= i18n("label_save") %></button>
		</div>
	</form>
</div>

