<div class="row">
	<div class="col-md-4 col-md-offset-0 well" style="margin-left: 10px" id="rootwizard">
		<ul class="nav nav-pills nav-stacked">
			 <li <%= (flag === 1) ? 'class=active' : '' %>><a href="/speaker/show/<%= req.session.passport.user.id %>/profile"><span class="glyphicon glyphicon-user"></span> <%= i18n("title_update_profile") %></a>
			</li>

			<li <%= (flag != 1) ? 'class=active' : '' %>><a href="/speaker/show/<%= req.session.passport.user.id %>/password"><span class="glyphicon glyphicon-edit"></span> <%= i18n("title_update_password") %></a>
			</li>
		</ul>
</div>
<div class="col-md-5 well" style="margin-left: 10px"> 
	<form  action="/speaker/show/<%= req.session.passport.user.id %>/password" style="padding-top: 20px" id="form_update_password" method="POST">
		<div id="showMyAccount" style="padding-top: 20px">
			<div class="form-group <%= Messages.errors.form.class("current_password", errors) %>">
			  <label for="current_password"><%= i18n("title_current_password") %>:</label>
			  <input type="password" class="form-control" name="current_password" id="current_password" value="<%= (password === 'undefined') ? '' : password.current_password  %>">
			  <%- Messages.errors.form.message("current_password", errors) %>
			</div>

			<div class="form-group <%= Messages.errors.form.class("new_password", errors) %>">
			  <label for="new_password"><%= i18n("title_new_password") %>:</label>
			  <input type="password" class="form-control" name="new_password" id="new_password" value="<%= (password === 'undefined') ? '' : password.new_password %>">
			  <%- Messages.errors.form.message("new_password", errors) %>
			</div>

			<div class="form-group <%= Messages.errors.form.class("confirm_password", errors) %>">
			  <label for="confirm_password"><%= i18n("title_confirm_password") %>:</label>
			  <input type="password" class="form-control" name="confirm_password" id="confirm_password" value="<%= (password === 'undefined') ? '' : password.confirm_password  %>">
			   <%- Messages.errors.form.message("confirm_password", errors) %>
			</div>

			<div class="form-group">
			    <button type="submit" class="btn btn-primary btn-lg btn-block btn-sm submit-update-password"><%= i18n("label_save") %></button>
			</div>
		</div>
	</form>
</div>