<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">
    <h4 class="text-center"> <%= i18n("session.index.header") %> </h4>
  </div>

  <div class="panel-body">
    <div class="clearfix">
      <a href="/speaker/sessions/new" class="btn btn-default pull-right" ><%= i18n("session.link.new") %></a>
    </div>

    <!-- Table Sessions -->
    <div class="table-responsive">
      <table class="table table-hover table-striped">
        <thead>
          <tr>
            <th><%= i18n("session.id") %></th>
            <th><%= i18n("session.key") %></th>
            <th><%= i18n("session.name") %></th>
            <th><%= i18n("session.status") %></th>
            <th class="text-center"><%= i18n("global.link.actions") %></th>
          </tr>
        </thead>
        <tbody>
          <% _.each(sessions, function (session) { %>
            <tr>
            <td><%= session.id     %></td>
            <td><%= session.key    %></td>
            <td><%= session.name   %></td>
            <td><%= ViewHelpers.status(session.status) %></td>
            <td class="text-right">
              <a class="btn btn-sm btn-success" href="/speaker/sessions/<%= session.id %>" 
                title="<%= i18n('global.link.show') %>" role="button" >
                <%= i18n("global.link.show") %>
              </a>
              <a class="btn btn-sm btn-primary" href="/speaker/sessions/edit/<%= session.id %>" 
                title="<%= i18n('lglobal.link.edit') %>" role="button" >
                <%= i18n("global.link.edit") %>
              </a>
              <a class="btn btn-sm btn-danger" href="/speaker/sessions/delete/<%= session.id %>"
                name="<%= session.name %>" title="<%= i18n('global.link.destroy') %>"
                data-confirm="Tem certeza que deseja excluir a sessão <%= session.name %>"
                <%= ViewHelpers.disableUnless(!session.status) %>>
                <%= i18n("global.link.destroy") %>
              </a>
            </td>
          </tr>
        <% }) %>
        </tbody>
      </table>
    </div>
  </div>

</div>
