<section>
  <header class="page-header">
    <h3>Sessão <%= session.name %> </h3>
  </header>

  <p><strong><%= i18n("session.id") %>: </strong><%= session.id %></p>
  <p><strong><%= i18n("session.key") %>: </strong><%= session.key %></p>
  <p><strong><%= i18n("session.name") %>: </strong><%= session.name %></p>
  <p><strong><%= i18n("session.description") %>: </strong><%= session.description %></p>

</section>


